.linkPrimary{
    display: inline-block;
    width: 40%;
    height: 32px;
    padding: 10px;
    border-radius: 20px;
    background-color: #8490E8;
    color: white;
    line-height: 32px;
    font-size: 18px;
    text-decoration: none;
}

.linkPrimary:hover{
    background-color: #8490E8;
}


@media screen and (min-width:768px) {
    .linkPrimary{
        width: 40%;
        height: 36px;
    }
}